body{
    background-color: steelblue;
}
.welcome{
    padding: 10px;
    text-align: center;
}
.col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row{
    display: flex;
    flex-direction: row;
}
.box{
    border: 2px solid black;
    width:40px;
    height: 40px;
    
}
img{
    max-width: 39px;
    max-height: 39px;
    align-items: center;
}
.button{
    width: 50px;   
    text-align: center;
    padding-top: 5px;
    background-color:aqua;
}